.bg {
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;

  transition: margin-top 0.5s ease;
}

.bg-broken-dish {
  background-image: url(/img/title-banner/bg-broken-dish.jpg);
}

.bg-building-2 {
  background-image: url(/img/title-banner/bg-building-2.jpg);
}

.bg-crawl-space-grain {
  // TODO unused
  background-image: url(/img/title-banner/bg-crawl-space-grain.jpg);
}

.bg-desert-rv-1 {
  // TODO unused
  background-image: url(/img/title-banner/bg-desert-rv-1.jpg);
}

.bg-desert-rv-6 {
  background-image: url(/img/title-banner/bg-desert-rv-6.jpg);
}

.bg-say-my-name {
  background-image: url(/img/title-banner/bg-say-my-name.jpg);
  background-position-x: 60%;
}

.bg-felina-lab {
  background-image: url(/img/title-banner/bg-felina-lab.jpg);
}

.bg-glass-half-full {
  background-image: url(/img/title-banner/bg-glass-half-full.jpg);
}

.bg-jesse-fly-high {
  background-image: url(/img/title-banner/bg-jesse-fly-high.jpg);
}

.bg-jesse-loudspeaker-close {
  background-image: url(/img/title-banner/bg-jesse-loudspeaker-close.jpg);
  background-position-x: 25%;
}

.bg-mirrored-face {
  background-image: url(/img/title-banner/bg-mirrored-face.jpg);
  background-position-x: 82%;
}

.bg-mixing-drugs {
  background-image: url(/img/title-banner/bg-mixing-drugs.jpg);
}

.bg-pants-flying {
  background-image: url(/img/title-banner/bg-pants-flying.jpg);
  background-position-x: 22%;
}

.bg-awkward-dinner {
  background-image: url(/img/title-banner/bg-awkward-dinner.jpg);
}

.bg-skyler-drowning {
  background-image: url(/img/title-banner/bg-skyler-drowning.jpg);
}

.bg-tios-bell {
  background-image: url(/img/title-banner/bg-tios-bell.jpg);
  background-position-x: 37%;
}

.bg-tv-blue {
  background-image: url(/img/title-banner/bg-tv-blue.jpg);
}

.bg-tv-with-saul {
  background-image: url(/img/title-banner/bg-tv-with-saul.jpg);
}

.bg-walter-knife-mirror {
  background-image: url(/img/title-banner/bg-walter-knife-mirror.jpg);
}

.bg-walter-yellow-red {
  background-image: url(/img/title-banner/bg-walter-yellow-red.jpg);
}

.bg-windmill {
  background-image: url(/img/title-banner/bg-windmill.jpg);
  background-position-x: 80%;
}

.bg-intro-1 {
  background-image: url(/img/title-banner/bg-intro-1.jpg);
}

.bg-the-fly {
  background-image: url(/img/title-banner/bg-the-fly.jpg);
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-750) {

  .bg {
    margin-top: $default-vertical-padding;
  }
}