@media screen {

  body {
    margin: 20px 40px 20px 40px;

    font-size: 100%;
    font-color: black;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
  }

  #container {
    display: block;
    width: 85%;
    //min-width: 960px;
    max-width: 930px;
    min-height: 150px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    background-color: $gray-color-dark;
  }

  #pjax-wrapper {
    overflow: hidden;
    padding: 15px 0 0 15px;
    width: 520px;

    //max-width: 680px;
  }
}