@import "../modules/sizes";

// default: small screens

#body-wrapper, body {
  overflow-x: hidden;
  background: $white;
}

#pjax-container {
  //overflow: hidden;
  //padding: 0.8em;
  position: relative;
  //z-index: 2;

  //min-width: 375px;
  max-width: $pjax-container-max-width;
  margin: 0 auto;

  //border-style: hidden;
  //border-bottom: 0.5em solid $color-primary-1;

  //overflow: hidden;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;

}

#content-pane {
  z-index: 1000;
  position: relative;
  //border-width: thick;
  //border-color: black;
  //border-style: dashed;
  //padding-top: $default-vertical-padding;
  //height: calc(100vh - #{$header-height-sm}); // subtract header
  height: 100%;

  // title banners directly after header in mobile view
  padding-top: 0;
  margin-top: $header-height-sm;

  background-color: $white;
  overflow-x: hidden;

  // Adress bar Android fix!
  //overflow-y: scroll; /* has to be scroll, not auto */
  //-webkit-overflow-scrolling: touch;

  transition: margin-left 0.5s ease, margin-top 0.5s ease;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}



@media screen and (min-width: $breakpoint-1b) {

  #content-pane {
    //margin-left: $menu-width-m;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  #content-pane {
    //background: red;
    //border-radius: 20px;
    //border: black;
    //border-style: dashed;

    margin-left: $nav-width-l;

    margin-top: $header-height-l;
    //height: calc(100vh - #{$header-height-l});

    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
  }
}
