footer {

  margin-top: 2em;

  #back-to-top {
    color: $green-darkish;
    display: block;
    font-size: 285%;
    text-align: center;
    margin: 0 auto;
    width: 0;  // weird fix

    &:hover {
      color: $green-bright;
      transition: color 0.5s ease;
    }
  }

  #copyright {
    text-align: center;
    letter-spacing: 1.4px;
    color: $gray-color_dark;
  }
}