footer {
  margin-top: 2em;

  #arrow-buttons {
    display: table;
    margin: 0 auto;
  }

  .arrow-button {
    color: $green-darkish;
    font-size: 285%;
    width: 48px;

    margin-left: 1rem;
    margin-right: 1rem;
    transition: margin-left 0.4s ease, margin-right 0.4s ease;

    display: inline-block;
    text-align: center;
    vertical-align: baseline;

    &:hover:not(.disabled) {
      color: $green-bright;
      transition: color 0.5s ease;
    }

    &.disabled {
      color: $gray-color-dark;
      cursor: not-allowed;
    }

  }
}

#copyright {
  text-align: center;
  letter-spacing: 1.4px;
  color: $gray-color_dark;
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-420) {
  .arrow-button {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
}

@media screen and (min-width: $breakpoint-column) {
  .arrow-button {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }
}