footer {

  margin-top: 2em;

  #back-to-top {
    color: $green-darkish;
    display: block;
    font-size: 285%;
    text-align: center;
    margin: 0 auto;
    width: 0;  // weird fix
  }

  #copyright {
    text-align: center;
    letter-spacing: 2px;
    color: $gray-color_dark;
  }
}