header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 3;

  padding: 20px;
  display: block;

  background-color: $gray-color-medium;

  h1 {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    font-size: 111%;
  }
}