$header-padding-s: 19px;
$header-padding-l: 20px;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 2000;

  display: block;

  box-sizing: content-box;
  height: $header-height-sm;

  background-color: $green-darkish;

  transition: all 0.4s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;

  a, #menu-toggle {
    color: $white !important;
  }

  #container {
    padding: auto;
  }
}

#menu-toggle {
  position: fixed;
  padding: $header-padding-s;
  margin: 13px;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 40px;
  height: 40px;

  font-size: 120%;
  text-align: center;
  vertical-align: baseline;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: $nav-hover;
    cursor: pointer;
  }

  &:active {
    background-color: $green-bright;
  }

  &span {
    text-align: center;
    vertical-align: baseline;
    display: inline-block;
    margin: 8px;
  }
}

#page-title {
  font-family: $font-serif;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  //padding: $header-padding-s;
  height: 100%;

  justify-content: center;
  display: flex;
  align-items: center;

  transition: font-size 0.4s ease;

}

#page-name {
  display: none;
}
#page-logo {
  height: 2rem;
  image-rendering: pixelated;

  display: flex;
  justify-content: center;
}

@media screen and (min-width: $breakpoint-1a2) {
  #page-name {
    display: flex;
    justify-content: center;

  }
  #page-logo {
    display: none;
  }
}

@media screen and (min-width: $breakpoint-1) {
  #page-title {
    font-size: 101%;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  header {
    height: $header-height-l;

    -webkit-transition-delay: 0s;
    transition-delay: 0s;

    #menu-toggle {
      display: none;
    }

    #page-title {
      font-size: 170%;
      //padding: $header-padding-l;

      &:hover {
        transition: transform 0.2s ease;
        transform: scale(1.035, 1.035);
      }
    }
  }
}