header {
  padding: 20px;
  display: block;

  background-color: $gray-color-medium;

  h1 {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }
}