nav {
  //display: inline;
  //float: left;
  //overflow: hidden;
  z-index: 100;

  margin-top: $header-height-sm;

  background-color: $nav-gray;
  font-size: 125%;
  font-weight: bold;

  a {
    display: block;
    clear: both;
  }
}

.nav1-outer-container {
  padding: 0.5em 0;

  border-bottom: solid;
  border-width: 1px;
  border-color: $gray-color-bright;

  &.current-page {
    background-color: $nav-darker;
  }
}

.nav1-title {
  font-family: $font-serif;
  font-weight: bold;

  cursor: pointer;

  p {
    padding: 0.5em;
    margin: 0;
  }

  &.current-page {
    text-decoration: underline;
  }
}

.nav1-inner-container {
  font-family: $font-sans;
  font-size: 80%;
}

.nav2-outer-container {
  transition: background-color 0.5s ease;

  &.current-page {
    background-color: $green-darkish;
  }
}

.nav2-title {
  padding: 0.5em 1em;

  font-size: 110%;
  font-weight: bold;

  transition: background-color 0.5s ease;

  &.current-page {
    color: $white;
  }

  &:hover {
    background-color: $nav-hover;

    &.current-page {
      background-color: $green-bright;
    }
  }
}

.nav2-inner-container {
}

.nav3-title {
  padding: 0.5em 2em;

  transition: color 0.5s ease, background-color 0.5s ease;

  &:hover {
    background-color: $green-bright;
  }

  &.current-section {
    color: $white;
  }
}

@media screen and (min-width: $breakpoint-lg) {

  nav {
    margin-top: $header-height-l;
  }

  .nav1-outer-container {
  }

  .nav1-title {
    p {
      padding: 0.5em 1em;
      margin: 0;
    }
  }

  .nav1-inner-container {
  }

  .nav2-outer-container {
  }

  .nav2-title {
    padding: 0.3em 1.5em;
  }

  .nav2-inner-container {
  }

  .nav3-title {
    padding: 0.3em 2.5em;
  }
}