nav {
  display: inline;
  float: left;
  overflow: hidden;
  background-color: $gray-color-dark;
  font-size: 100%;
  font-weight: bold;

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  .nav-h1 {
    float: none;
    display: block;
    //padding-top: 1em;
    margin-top: 1em;

    font-family: $font-serif;
    font-size: 100%;
    font-weight: bold;
  }

  .nav-h2 {
    font-family: $font-sans;
    font-size: 80%;
  }

  a {
    display: block;
    padding: 0.3em 1.3em 0.3em 15px;
    margin: 0;

    //color: $color-white;

    &:hover {
      color: $color-primary-2;

      cursor: pointer;
    }

     &:active {
      color: $color-primary-1;
    }

    &:link {
    }
    
    &:visited {
    }
  }

  .current-page {
    color: $contrary-color-1;
  }
}