.svg-wrapper {
  margin: 0 auto;
  transition: all 0.4s ease;
}

// default font-size in svg text elements
tspan, text {
  font-family: $font-sans;
  font-size: 0.55rem;
}

.bold {
  font-weight: bold;
}

.title {
  font-size: 0.9rem;
}

#dramaturgic-arcs {
  text {
    font-size: 0.6rem;
  }

}

#simple-sound-model {
  tspan {
    font-size: 0.52rem;
  }

}

#structuralistic-model {
  text, tspan {
    font-size: 0.57rem;
  }

  width: 100%;
}

#waves-dlz, #waves-shootout {
  text {
    font-size: 0.8rem;
  }
}

#pie-chart {
  text, tspan {
    font-size: 0.43rem;
  }
}

.bright {
  fill: $gray-color-bright;
}

.medium {
  fill: $gray-color-medium;
}

.dark {
  fill: $gray-color-dark;
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-370) {
  #structuralistic-model, #pie-chart {
    width: 80%;
  }
}

@media screen and (min-width: $breakpoint-500) {
  #structuralistic-model, #pie-chart {
    width: 70%;
  }

  #heisenberg-theme, #pie-chart {
    width: 85%;
  }
}

@media screen and (min-width: $breakpoint-620) {
  #structuralistic-model, #pie-chart {
    width: 60%;
  }

  #heisenberg-theme {
    width: 70%;
  }
}

@media screen and (min-width: $breakpoint-750) {
  .svg-wrapper {
    transition: none;
  }

  #structuralistic-model, #heisenberg-theme, #pie-chart {
    width: 100%;
  }
}