svg {

  tspan, text {
    font-family: $font-sans;
    font-size: 0.43rem;
  }

  .bold {
    font-weight: bold;
  }
  .title {
    font-size: 0.9rem;
  }
}

#dramaturgic-arcs {
  //font-size: 0.7em;
}

#simple-sound-model {
  svg {
    text {
      font-size: 0.65em;
    }
  }
}

#structuralistic-model {
  width: 100%;
  //font-size: 0.5em;
}

.svg-wrapper {
  margin: 0 auto;
}

.bright {
  fill: $gray-color-bright;
}

.medium {
  fill: $gray-color-medium;
}

.dark {
  fill: $gray-color-dark;
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-370) {
  #structuralistic-model, #pie-chart {
    width: 80%;
  }
}

@media screen and (min-width: $breakpoint-500) {
  #structuralistic-model, #pie-chart {
    width: 70%;
  }

  #heisenberg-theme, #pie-chart {
    width: 85%;
  }
}

@media screen and (min-width: $breakpoint-620) {
  #structuralistic-model, #pie-chart {
    width: 60%;
  }

  #heisenberg-theme {
    width: 70%;
  }
}

@media screen and (min-width: $breakpoint-750) {
  #structuralistic-model, #heisenberg-theme, #pie-chart {
    width: 100%;
  }
}