#structuralistic-model {
  width: 100%;
  font-size: 0.5em;

}

.svg-wrapper {
  margin: 0 auto;
}

.bright {
  fill: $gray-color-bright;
}

.medium {
  fill: $gray-color-medium;
}

.dark {
  fill: $gray-color-dark;
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-370) {
  #structuralistic-model {
    width: 80%;
  }
}

@media screen and (min-width: $breakpoint-500) {
  #structuralistic-model {
    width: 70%;
  }

  #heisenberg-theme {
    width: 85%;
  }
}

@media screen and (min-width: $breakpoint-620) {
  #structuralistic-model {
    width: 60%;
  }

  #heisenberg-theme {
    width: 70%;
  }
}

@media screen and (min-width: $breakpoint-750) {
  #structuralistic-model, #heisenberg-theme {
    width: 100%;
  }
}