table {
  display: table;
  //margin: 0 0 $default-vertical-padding 0;
  border-style: none;

  text-align: center;

  overflow: scroll;

  th {
    color: $white;
    font-weight: bold;
    background-color: $green-bright;
  }

  tr:hover {
    td {
      background-color: darken($gray-color-bright, 5%);

    }
    th {
      background-color: darken($green-bright, 5%);
    }
  }

  tbody {
    background-color: $gray-color-bright;
  }

  thead {
    &:hover {
      background-color: darken($green-bright, 5%);
    }
  }

  td, th {
    padding: 0.3em 1.3em;
    margin: 0.2em;
    border-style: hidden;
  }

  em {
    font-weight: bold;
    font-style: normal;
  }
}

.table-center {
  margin: 0 auto;
}