body {
  font-family: $font-sans;
  font-size: 122%;
  font-style: normal;
}

article {

  p, ul, h2, h3, h4 {
    margin-left: 18px;
    margin-right: 18px;
  }

  p {
    line-height: 125%;

    font-weight: normal;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    line-height: 150%;

    // &::selection {
    //   background: $green-bright;
    //   color: $white;
    // }
  }

  a {
    &:link {
      color: $green-bright;
    }
    &:visited {
      color: $green-darkish;
    }
    &:hover {
      color: $green-minty;
    }
  }

  h1 {
    margin: 0;
    padding: 3em 0.5em;
    text-align: center;

    font-family: $font-serif;
    font-size: 200%;
    color: $white;

    // replaced by images at _visuals.scss
    background-color: #666;

    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;

    height: 3em;
  }
}



// .title-banner {
//   background-color: #666;
//   background: url(https://s-media-cache-ak0.pinimg.com/736x/c6/e9/b9/c6e9b9beb1d0fd5073ac762a5b42c076.jpg) 50% 50% no-repeat;
//   background-size: cover;
//   height: 9em;
//   margin: 0;
//   box-sizing: border-box;
//   padding: 0 1em;
//
//   h1 {
//     margin:0;
//     padding: 1.8em 0;
//     text-align: center;
//
//     font-family: $font-serif;
//     font-size: 200%;
//     color:white;
//   }
// }

h2 {
  margin-top: 1.5em;
  margin-bottom: $default-vertical-padding/2;

  font-family: $font-serif;
  font-size: 170%;
  text-align: center;
}

h3 {
  padding: 0;
  margin-top: 1em;
  margin-bottom: $default-vertical-padding/3;

  font-family: $font-sans;
  font-size: 140%;
  text-align: left;
}

h4 {
  margin-top: 1em;
  margin-bottom: $default-vertical-padding/3;

  font-size: 100%;
  color: grey;
  padding-left: 1em;
  font-weight: bold;
}

ul {
  line-height: 135%;

  list-style-type:square;
  display: block;
}

// for references.html
#references-article {

  ul {
    padding: 0;
  }
}

li {
  margin: 0 0 $default-vertical-padding/2 0;
}

blockquote {
  margin: 0;
  padding: 1em;

  background-color: $gray-color-bright;

  font-style: italic;
  font-size: inherit;
  text-decoration: none;
  text-indent: 0px;
  line-height: 135%;

  cite {
    padding-left: 1.5em;
    display: inline-block;
    padding-top: 0.7em;
  }
}

//p.footnote-item {
//
//  font-family: 'PT Sans', sans-serif;
//  font-size: 9px;
//  font-style: normal;
//  font-variant: normal;
//  font-weight: normal;
//  line-height: 1.222;
//  margin-bottom: 6px;
//  margin-left: 0px;
//  margin-right: 0px;
//  text-align: justify;
//  text-decoration: none;
//  text-indent: 0px;
//}
//
//.footnote-link {
  //margin-left: 3px;
  //margin-right: 3px;
  //color: slateblue;
// }

.actor-name, .technical-term {
  font-style: italic;
  font-weight: normal;
}

.work-title {
  text-transform: uppercase;
}

.no-break {
  white-space: nowrap;
}