body {
  font-family: $font-sans;
  font-size: 122%;
  font-style: normal;
}

article p {
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  line-height: 150%;

  &::selection {
    background: $green-bright;
    color: $white;
  }

  a {
    color: pink !important;
  }
}

h1 {
  font-family: "Crete Round", serif;
  font-size: 200%; }

h2 {
  margin:0;
  font-family: $font-serif;
  color:white;
  font-size: 180%;
  padding: 1.8em 0;
  text-align: center;
}

.h2-banner {
  background-color: #666;
  background: url(https://s-media-cache-ak0.pinimg.com/736x/c6/e9/b9/c6e9b9beb1d0fd5073ac762a5b42c076.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 9em;
  margin: 0;
  box-sizing: border-box;
  padding: 0 1em;
}

h3 {
  font-family: "Crete Round", serif;
  margin: 1.5em 0 0.5em 0;
  padding: 0;
  font-size: 180%;
  text-align: center;
}

h4 {
  margin:0 0 0.2em 0;
  padding: 0;
  font-size: 140%;
}

h5 {
  margin:0 0 0.2em 0;
  padding: 0;
  font-size: 120%; }

h6 {
  margin:0 0 0.1em 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 100%; }

ul {
  list-style-type:square;
  display: block;
}

li {
  margin: 0 0 $default-vertical-padding/2 0;
}

blockquote {
  margin: 0;
  padding: 1em;

  background-color: $gray-color-bright;
  font-style: italic;
  font-size: inherit;
  text-decoration: none;
  text-indent: 0px;

  cite {
    padding-left: 1.5em;
    display: inline-block;
    padding-top: 0.7em;
  }
}

p.footnote-item {

  font-family: 'PT Sans', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.222;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0px;
}

.footnote-link {
  //margin-left: 3px;
  //margin-right: 3px;
  //color: slateblue;
}

.work-title, .actor-name, .technical-term {
  font-style: italic;
  font-weight: normal;
}

.work-title {
  text-transform: uppercase;
}

.italic {
  // TODO delete
  background-color: greenyellow;
}

.no-break {
  white-space: nowrap;
}