p::selection, p::-moz-selection {
  background: $color-primary-1 !important;
  color: palevioletred !important;
}

body {
  font-family: $font-sans;
  font-size: 122%;
  font-style: normal;

  &::selection, &::-moz-selection {
    background: $color-primary-1;
    color: $color-white;
  }
}

p {
  font-weight: normal;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  line-height: 150%;

  &::selection, &::-moz-selection {
    background: $color-primary-1;
    color: $color-white;
  }

  a {
    color: $color-primary-1 !important;
  }
}

h1 {
  font-family: "Crete Round", serif;
  font-size: 200%; }

h2 {
  margin:0 0 0.5em 0;;
  padding: 0;
  font-family: "Crete Round", serif;
  background-color: black;;
  color:white;
  text-align: center;
  font-size: 180%; }

h3 {
  font-family: "Crete Round", serif;
  margin: 1.5em 0 0.5em 0;
  padding: 0;
  font-size: 180%;
  text-align: center;
}

h4 {
  margin:0 0 0.2em 0;
  padding: 0;
  font-size: 140%;
}

h5 {
  margin:0 0 0.2em 0;
  padding: 0;
  font-size: 120%; }

h6 {
  margin:0 0 0.1em 0;
  padding: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 100%; }

ul {
  list-style-type:square;
  display: block;
}

li {
  margin: 0 0 $default-vertical-padding/2 0;
}

blockquote {
  margin: 0;
  padding: 1em;

  background-color: $gray-color-bright;
  font-style: italic;
  font-size: inherit;
  text-decoration: none;
  text-indent: 0px;
}

p.footnote-item {

  font-family: 'PT Sans', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.222;
  margin-bottom: 6px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  text-decoration: none;
  text-indent: 0px;
}

.footnote-link {
  margin-left: 3px;
  margin-right: 3px;
  color: slateblue;
}

span.work-title {
  font-style: italic;
  font-weight: normal;
}

span.italic {
  font-style: italic;
  font-weight: normal;
}

span.technical-term {
  font-style: italic;
  font-weight: normal;
}