.banner {
  width: 100%;
}

.vimeo-link, .scribd-link {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  //padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  //margin-top: 20px;
  //margin-bottom: 20px;

  user-select: none;
}

.vimeo-link iframe,
.vimeo-link object,
.vimeo-link embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.soundcloudlink {
  margin-top: 30px;
  margin-bottom: 30px;
}

.c3-chart {
  //padding: 0 1.5em;
  margin: 0 2em $default-vertical-padding 2em;
}


// backgrounds for title banners
.bg-broken-dish {
  background: url(/img/title-banner/bg-broken-dish.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-building-2 {
  background: url(/img/title-banner/bg-building-2.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-crawl-space-grain {
  background: url(/img/title-banner/bg-crawl-space-grain.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-desert-red {
  background: url(/img/title-banner/bg-desert-red.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-desert-rv-1 {
  background: url(/img/title-banner/bg-desert-rv-1.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-desert-rv-6 {
  background: url(/img/title-banner/bg-desert-rv-6.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-doctor-mouth {
  background: url(/img/title-banner/bg-doctor-mouth.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-felina-lab {
  background: url(/img/title-banner/bg-felina-lab.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-glass-half-full {
  background: url(/img/title-banner/bg-glass-half-full.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-jessy-fly-high {
  background: url(/img/title-banner/bg-jessy-fly-high.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-mirrored-face {
  background: url(/img/title-banner/bg-mirrored-face.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-mixing-drugs {
  background: url(/img/title-banner/bg-mixing-drugs.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-pants-flying {
  background: url(/img/title-banner/bg-pants-flying.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-pick-up-place {
  background: url(/img/title-banner/bg-pick-up-place.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-skyler-drowning {
  background: url(/img/title-banner/bg-skyler-drowning.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-tios-bell {
  background: url(/img/title-banner/bg-tios-bell.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-tv-blue {
  background: url(/img/title-banner/bg-tv-blue.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-tv-with-saul {
  background: url(/img/title-banner/bg-tv-with-saul.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-walter-knife-mirror {
  background: url(/img/title-banner/bg-walter-knife-mirror.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-walter-yellow-red {
  background: url(/img/title-banner/bg-walter-yellow-red.jpg) 50% 50% no-repeat;
  background-size: cover;
}
.bg-windmill {
  background: url(/img/title-banner/bg-windmill.jpg) 50% 50% no-repeat;
  background-size: cover;
}