#loading-indicator {
  width: 200px;
  margin: 0 auto;
  display: none;
  padding: 15vmin 0;

  &.block-fix {
    display: block;
  }
}
// assert that desktop has fast connection; don't show spinner
@media screen and (min-width: $breakpoint-column) {
  #loading-indicator {
    visibility: hidden;
  }
}

.portrait {
  display: block;
  height: 14rem;
  margin: 0 auto;

  margin-bottom: 3rem;

  user-select: none;
  -webkit-user-select: none;

  border-radius: 50%;
  // border: 5px solid #d1d1d1;

  &:hover {
    transform: scale(1.04, 1.04);
  }

  transition: transform 0.5s ease;

  // -webkit-box-shadow: 6px 18px 97px -19px rgba(0,123,61,1);
  // -moz-box-shadow: 6px 18px 97px -19px rgba(0,123,61,1);
  // box-shadow: 6px 18px 97px -19px rgba(0,123,61,1);
}

#statement blockquote {
  margin-top: 8rem;
  transition: border-radius 0.5s ease, border-width 0.5s ease, padding 0.5s ease;

  .portrait {
    margin-top: -7rem;
    margin-bottom: 1.8rem;
  }
}

.vimeo-link, .scribd-link {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  //padding-top: 30px; /* IE6 workaround*/
  height: 0;
  overflow: hidden;
  //margin-top: 20px;
  //margin-bottom: 20px;

  user-select: none;
}

.vimeo-link iframe,
.vimeo-link object,
.vimeo-link embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%media-container-base {
  max-width: $pjax-container-max-width;
  display: block; //??????
  margin: 0 auto 1rem auto;
  width: auto;
  background-color: white;
}

.media-container-small {
  @extend %media-container-base;

  text-align: center;

  .bordered {
    width: auto;
  }

  table {
    display: inline-table;
    width: 80vw;
  }
}

.media-container-large {
  @extend %media-container-base;

  .bordered {
    //border-style: solid none;

    width: 100%;
    box-sizing: border-box;
  }
}

.scroll-x {
  overflow-x: auto;
}

.bordered {
  border-style: solid none none none;
  border-width: 1px;
  border-color: $gray-color-dark;
  box-sizing: content-box;
  padding: 0.3em;

  width: 100%;
}

.caption {
  background-color: $gray-color-dark;

  p {
    font-size: 85%;

    margin: 0 auto;
    padding: 0.3em 0.7em;

    display: block;
    text-align: center;
    color: white;
  }

  .bigfoot-footnote p {
    color: black;
  }
}

/* Media queries ******************************************************************************************************/

@media screen and (min-width: $breakpoint-column) {

  .bordered {
    border-style: solid solid none solid !important;
    padding: 0.8em;
  }

  .media-container-small {
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 45%;

    table {
      display: table;
      width: 100%;
    }
  }

  #statement blockquote {
    border-radius: 15px 15px 15px 15px;
    padding: 1.5em 2.2em;
  }
}
