$color-white: #FFFFFF;
$color-black: #000000;

$color-primary-1: #00CD65;
//$color-primary-1: springgreen 3;
//$color-primary-2: mediumspringgreen;
$color-primary-2: #00FF7F;

$contrary-color-1: #B22222;

$gray-color-bright: #EAEAEA;
$gray-color-medium: darken($gray-color-bright, 10%);
$gray-color-dark: darken($gray-color-medium, 10%);
