$white: #f5f5f5;
$white-medium: darken($white, 15%);
$white-dark: darken($white-medium, 15%);

$color-black: rgba(0,0,0,0.85);

$green-darkish: #007B3D;
$green-darkish-darker: darken($green-darkish, 20%);
$green-bright: #00CD65;
$green-minty: #33D784;

$contrary-color-1: #B22222;
$contrary-other: #BE1823;

//$gray-color-bright: #F3F3F3;
$gray-color-bright: #EAEAEA;
$gray-color-medium: darken($gray-color-bright, 10%);
$gray-color-dark: darken($gray-color-medium, 10%);    // #b7b7b7
$gray-color-darker: darken($gray-color-dark, 25%);

$nav-gray: #999;
$nav-hover: #aaa;
//$nav-darker: #696969;
$nav-darker: #777;