$breakpoint-320: 320px;
$breakpoint-370: 370px;
$breakpoint-420: 420px;
$breakpoint-500: 500px;
$breakpoint-620: 620px;
$breakpoint-750: 750px;
$breakpoint-l: 1224px;

$header-height-sm: 55px;
$header-height-l: 80px;

$default-vertical-padding: 1em;

$nav-width-s: 270px;
$nav-width-m: 300px;
$nav-width-l: 315px;

$pjax-container-max-width: 730px;