// going mobile first, so <= 320 is small, 1 px more is breakpoint
$breakpoint-1: 321px;
$breakpoint-1a: 370px;
$breakpoint-1b: 500px;
$breakpoint-1c: 620px;
$breakpoint-2: 749px;//769px;
$breakpoint-lg: 1224px;

$header-height-sm: 65px;
$header-height-l: 80px;

$default-vertical-padding: 1em;

$menu-width: 315px;

$pjax-container-max-width: 730px;