<title>The Sound of Breaking Bad{{subtitle}}</title>
<meta charset="utf-8"/>
<meta name="description" content={{description}}>
<meta name="keywords" content=
        "Breaking Bad, The Wire,
        Quality TV,
        Sound, Music, Audio">
<meta name="author" content="Niels Boecker">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#00CD65">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#00CD65">

<link rel="icon" href="/img/favicon-heisenberg.ico" type="image/x-icon"/>

<link href="/css/styles.css" rel="stylesheet"/>

<script src="/js/jquery.js"></script>
<script src="/js/snap.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/bigfoot.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/jquery-init.js"></script>
<script src="/js/jquery.pjax.js"></script>
<script src="/js/c3.js"></script>
<script src="/js/d3.js"></script>


<script>
    $(function () {
        var snapper = new Snap({
            element: document.getElementById('content-pane')
        });

        checkAfterResize(snapper);

        snapper.settings({
            //    element: null,
            //    dragger: null,
            disable: 'right',
            //    addBodyClasses: true,
            hyperextensible: false,
            //    resistance: 0.5,
            //    flickThreshold: 50,
            //    transitionSpeed: 0.3,
            //    easing: 'ease',
            //    maxPosition: 266,
            //    minPosition: -266,
            tapToClose: true
            //    touchToDrag: true,
            //    slideIntent: 40,
            //    minDragDistance: 5
        });

        var myToggleButton = document.getElementById('menu-toggle');
        myToggleButton.addEventListener('click', function () {

            if (snapper.state().state == "left") {
                snapper.close();
            } else {
                snapper.open('left');
            }
        });

    $(window).resize(function() {
        checkAfterResize(snapper);
    });
    });



    function checkAfterResize(snapper) {
        var windowsize = $(window).width();

        windowsize = $(window).width();
        if (windowsize > 1224) {
            //if the window is greater than 440px wide then turn on jScrollPane..
            //$('#content-pane').attr('data-snap-ignore', 'true');
            snapper.disable();
            if (snapper.state().state == "left") {
                snapper.close();
            }
        } else {
            $('#content-pane').removeAttr('data-snap-ignore');
            snapper.enable();
        }
    }


</script>

<script>

    $(function () {
        function menuActive() {
            $('.current-page').removeClass('current-page');
            var pgurl = window.location.pathname;
            var pguri = window.location.href.substr(window.location.href.lastIndexOf("/") + 1);

            $("nav a").each(function () {

                if ($(this).attr("href") == pgurl || $(this).attr("href") == '') { // Compare url to links
                    $(this).addClass("current-page");
                    $(this).siblings('.nav-h1').addClass('current-page'); // Set "active" class on the parent of submenu links
                }
            });
        }

        $("body").on("click", "a", function (event) {
            $.pjax({
                "url": $(this).attr("href"),
                "fragment": "#pjax-container",
                "container": "#pjax-container"
            });
            event.preventDefault();
        });

        $(document).on('pjax:start', function () {
        });

        $(document).on('pjax:end', function () {
            kickstart();
            menuActive();
        });
        //$(document).ready(menuActive); // Update on first load
    });

</script>




<script type="text/javascript">
    $(document).ready(function($) {
        $('.nav1-title').click(function(){

            //Expand or collapse this panel
            $(this).next().slideToggle('medium');

            //Hide the other panels
            $('.nav1-inner-container').not($(this).next()).slideUp('fast');
            $('.nav2-inner-container').slideUp('fast');

        });
    });

    $(document).ready(function($) {
        $('.nav2-title').click(function(){

            //Expand or collapse this panel
            var nextNav2Container = $(this).next();

            if (nextNav2Container.hasClass('nav2-inner-container')) {
                nextNav2Container.slideToggle('medium');

                //Hide the other panels
                $('.nav2-inner-container').not(nextNav2Container).slideUp('fast');
            }

        });
    });
</script>


<!--script>
    $(document).ready(function(){

        var windowHeight = $(window).height(); // get the height of the window
        var docHeight = $(document).height();

        if (docHeight > 3 * windowHeight) {
            $('#back-to-top > a').click(function (event) {
                event.preventDefault();
                console.log("clickor");
                //$('#content-pane').scrollTo(400, 400);
                $(window).scrollTo(0, 350);
                //return false;
            });
        }
        else {
            $('#back-to-top').hide();
        }


        /**
         * This part causes smooth scrolling using scrollto.js
         * We target all a tags inside the nav, and apply the scrollto.js to it.
         */
        $("nav a").click(function(evn){
            evn.preventDefault();
            $(window).scrollTo(this.hash, this.hash, {offset: -100});
        });

        /**
         * This part handles the highlighting functionality.
         * We use the scroll functionality again, some array creation and
         * manipulation, class adding and class removing, and conditional testing
         */
        var aChildren = $("nav .yeah").children(); // find the a children of the list items
        var aArray = []; // create the empty aArray
        console.log("hi");
        for (var i=0; i < aChildren.length; i++) {
            var aChild = aChildren[i];
            //var ahref = $(aChild).attr('href');
            var aHash = aChild.hash;

            aArray.push(aHash);
        } // this for loop fills the aArray with attribute href values

        $(window).scroll(function(){
            var windowPos = $(window).scrollTop(); // get the offset of the window from the top of page
            var windowHeight = $(window).height(); // get the height of the window
            var docHeight = $(document).height();

            for (var i=0; i < aArray.length; i++) {
                var theID = aArray[i];
                var divPos = $(theID).offset().top; // get the offset of the div from the top of page
                var divHeight = $(theID).height(); // get the height of the div in question
                if (windowPos >= divPos && windowPos < (divPos + divHeight)) {
                    $("a[href='" + theID + "']").addClass("nav-active");
                } else {
                    $("a[href='" + theID + "']").removeClass("nav-active");
                }
            }

            if(windowPos + windowHeight == docHeight) {
                if (!$("nav li:last-child a").hasClass("nav-active")) {
                    var navActiveCurrent = $(".nav-active").attr("href");
                    $("a[href='" + navActiveCurrent + "']").removeClass("nav-active");
                    $("nav li:last-child a").addClass("nav-active");
                }
            }
        });
    });
</script-->