<title>The Sound of Breaking Bad{{subtitle}}</title>
<meta charset="utf-8"/>
<meta name="description" content={{description}}>
<meta name="keywords" content=
        "Breaking Bad, The Wire,
        Quality TV,
        Sound, Music, Audio">
<meta name="author" content="Niels Boecker">

<link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>

<link href="/css/styles.css" rel="stylesheet"/>

<script src="/js/jquery.js"></script>
<script src="/js/bigfoot.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/jquery-init.js"></script>
<script src="/js/jquery.pjax.js"></script>
