<title>The Sound of Breaking Bad{{subtitle}}</title>
<meta charset="utf-8"/>
<meta name="description" content="{{description}}">
<meta name="keywords" content="Breaking Bad, Sound, Sounddesign, Sound Design, Musik, Audio, Analyse, Quality TV">
<meta name="author" content="Niels Boecker">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="mobile-web-app-capable" content="yes">

<!-- Fancy address bar for Chrome, Firefox OS and Opera... -->
<meta name="theme-color" content="#00CD65">
<!-- ... and Windows Phone -->
<meta name="msapplication-navbutton-color" content="#00CD65">

<link rel="icon" href="/img/favicon-heisenberg.ico" type="image/x-icon"/>

<link href="/css/styles.css" rel="stylesheet"/>

<script src="/js/jquery.js"></script>
<script src="/js/jquery.scrollTo.js"></script>
<script src="/js/bigfoot.js"></script>
<script src="/js/accordion.js"></script>
<script src="/js/jquery.pjax.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/google-analytics.js"></script>