<nav class="snap-drawer snap-drawer-left">

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Einleitung</p>
        </div>
        <div class="nav1-inner-container">
            <div class="nav2-outer-container">
                <a href="/de/introduction/introduction.html" class="nav2-title">Einleitung</a>
            </div>
        </div>
    </div>

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Die Serie</p>
        </div>
        <div class="nav1-inner-container">

            <div class="nav2-outer-container">
                <a href="/de/about-the-show/background.html" class="nav2-title">Hintergrund</a>
                <div class="nav2-inner-container">
                    <a href="/de/about-the-show/overview.html#classification"
                       class="nav3-title">Übersicht und Einordnung</a>
                    <a href="/de/about-the-show/overview.html#genre" class="nav3-title">Genre</a>
                    <a href="/de/about-the-show/overview.html#auteur-series" class="nav3-title">Autorenserien</a>
                    <a href="/de/about-the-show/overview.html#visual-style" class="nav3-title">Visueller Stil</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/about-the-show/storyline.html" class="nav2-title">Handlung</a>
                <div class="nav2-inner-container">
                    <a href="/de/about-the-show/storyline.html#season-1" class="nav3-title">Staffel 1</a>
                    <a href="/de/about-the-show/storyline.html#season-2" class="nav3-title">Staffel 2</a>
                    <a href="/de/about-the-show/storyline.html#season-3" class="nav3-title">Staffel 3</a>
                    <a href="/de/about-the-show/storyline.html#season-4" class="nav3-title">Staffel 4</a>
                    <a href="/de/about-the-show/storyline.html#season-5" class="nav3-title">Staffel 5</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/about-the-show/structure.html" class="nav2-title">Struktur</a>
                <div class="nav2-inner-container">
                    <a href="/de/about-the-show/structure.html#dramatic-structure"
                       class="nav3-title">Dramaturgische Struktur</a>
                    <a href="/de/about-the-show/structure.html#formal-structure" class="nav3-title">Formale
                        Struktur</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/about-the-show/production-1.html" class="nav2-title">Produktion</a>
                <div class="nav2-inner-container">
                    <a href="/de/about-the-show/production-1.html#conception" class="nav3-title">Konzeption</a>
                    <a href="/de/about-the-show/production-1.html#script" class="nav3-title">Drehbuch</a>
                    <a href="/de/about-the-show/production-1.html#preproduction"
                       class="nav3-title">Vorproduktion</a>
                    <a href="/de/about-the-show/production-1.html#shooting" class="nav3-title">Dreharbeiten</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/about-the-show/production-2.html" class="nav2-title">Postproduktion</a>
                <div class="nav2-inner-container">
                    <a href="/de/about-the-show/production-2.html#editing" class="nav3-title">Editing</a>
                    <a href="/de/about-the-show/production-2.html#spotting-session"
                       class="nav3-title">Spotting Session</a>
                    <a href="/de/about-the-show/production-2.html#music-search"
                       class="nav3-title">Suche nach Musik</a>
                    <a href="/de/about-the-show/production-2.html#music-composition"
                       class="nav3-title">Komposition von Musik</a>
                    <a href="/de/about-the-show/production-2.html#mixing"
                       class="nav3-title">Sounddesign und Mischung</a>
                    <a href="/de/about-the-show/production-2.html#exploitation" class="nav3-title">Verwertung</a>
                </div>
            </div>

        </div>
    </div>

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Analyse: Musik</p>
        </div>
        <div class="nav1-inner-container">

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/introduction.html" class="nav2-title">Einleitung</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-music/introduction.html#terminology" class="nav3-title">Terminologie</a>
                    <a href="/de/analysis-music/introduction.html#film-music" class="nav3-title">Über Filmmusik</a>
                    <a href="/de/analysis-music/introduction.html#distribution"
                       class="nav3-title">Quantität und Verteilung</a>
                    <a href="/de/analysis-music/introduction.html#identification"
                       class="nav3-title">Identifikationswirkung</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/external-elements.html" class="nav2-title">Musikalischer Rahmen</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-music/external-elements.html#title" class="nav3-title">Titelmusik</a>
                    <a href="/de/analysis-music/external-elements.html#credits" class="nav3-title">Abspannmusik</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/composed-music.html" class="nav2-title">Komponierte Musik</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-music/composed-music.html#technique-and-style"
                       class="nav3-title">Technik und Stil</a>
                    <a href="/de/analysis-music/composed-music.html#features" class="nav3-title">Funktionen</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/preexisting-music.html" class="nav2-title">Präexistente Musik</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-music/preexisting-music.html#style-and-genre"
                       class="nav3-title">Stil und Genre</a>
                    <a href="/de/analysis-music/preexisting-music.html#form" class="nav3-title">Form</a>
                    <a href="/de/analysis-music/preexisting-music.html#features" class="nav3-title">Funktionen</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/diegetic-elements.html" class="nav2-title">Diegetische Ebene</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-music/diegetic-elements.html#places"
                       class="nav3-title">Charakterisierung von Orten</a>
                    <a href="/de/analysis-music/diegetic-elements.html#persons"
                       class="nav3-title">Charakterisierung von Personen</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-music/blurring-boundaries.html" class="nav2-title">Verwischung der Diegese</a>
            </div>

        </div>
    </div>

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Analyse: Sounddesign</p>
        </div>
        <div class="nav1-inner-container">

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/introduction.html" class="nav2-title">Einleitung</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/introduction.html#terminology" class="nav3-title">Terminologie</a>
                    <a href="/de/analysis-sound/introduction.html#sounddesign"
                       class="nav3-title">Über Sounddesign</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/language.html" class="nav2-title">Sprache</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/language.html#voice-centralism"
                       class="nav3-title">Stimmzentralismus und Mehrsprachigkeit</a>
                    <a href="/de/analysis-sound/language.html#transformation"
                       class="nav3-title">Transformation durch Sekundärquellen</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/noises.html" class="nav2-title">Geräusche</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/noises.html#significant-noises"
                       class="nav3-title">Signifikante Geräusche</a>
                    <a href="/de/analysis-sound/noises.html#symbolic-noises"
                       class="nav3-title">Symbolhafte Geräusche</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/silence-and-dynamics.html" class="nav2-title">Stille und Dynamik</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/silence-and-dynamics.html#scarcity"
                       class="nav3-title">Stille und Spärlichkeit</a>
                    <a href="/de/analysis-sound/silence-and-dynamics.html#circus-effect"
                       class="nav3-title">Stille als Zirkuseffekt</a>
                    <a href="/de/analysis-sound/silence-and-dynamics.html#dynamic" class="nav3-title">Dynamik</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/acoustic-scenography.html" class="nav2-title">Akustische Szenografie</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/acoustic-scenography.html#propagation"
                       class="nav3-title">Ausbreitung und Reflexion</a>
                    <a href="/de/analysis-sound/acoustic-scenography.html#settings"
                       class="nav3-title">Wichtige Handlungsorte</a>
                    <a href="/de/analysis-sound/acoustic-scenography.html#organic-atmospheres"
                       class="nav3-title">Organische Atmosphären</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/analysis-sound/subjectivization.html" class="nav2-title">Subjektivierung</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/subjectivization.html#gradations" class="nav3-title">Abstufungen</a>
                    <a href="/de/analysis-sound/subjectivization.html#strategies" class="nav3-title">Strategien</a>
                    <a href="/de/analysis-sound/subjectivization.html#states"
                       class="nav3-title">Dargestellte Zustände</a>
                    <a href="/de/analysis-sound/subjectivization.html#magnification"
                       class="nav3-title">Überhöhung</a>
                </div>
            </div>

        </div>
    </div>

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Fazit</p>
        </div>
        <div class="nav1-inner-container">
            <div class="nav2-outer-container">
                <a href="/de/conclusion/conclusion.html" class="nav2-title">Fazite</a>
            </div>
        </div>
    </div>

    <div class="nav1-outer-container">
        <div class="nav1-title">
            <p>Über diese Seite</p>
        </div>
        <div class="nav1-inner-container">

            <div class="nav2-outer-container">
                <a href="/de/about/about.html" class="nav2-title">Über diese Seite</a>
                <div class="nav2-inner-container">
                    <a href="/de/analysis-sound/TODO" class="nav3-title">TODO</a>
                    <a href="/de/analysis-sound/TODO" class="nav3-title">TODO</a>
                </div>
            </div>

            <div class="nav2-outer-container">
                <a href="/de/about/references.html" class="nav2-title">Quellenangaben</a>
                <div class="nav2-inner-container">
                    <a href="/de/about/references.html#literature" class="nav3-title">Literatur</a>
                    <a href="/de/about/references.html#scripts" class="nav3-title">Drehbücher</a>
                    <a href="/de/about/references.html#internet" class="nav3-title">Internet</a>
                    <a href="/de/about/references.html#podcasts" class="nav3-title">Podcasts</a>
                    <a href="/de/about/references.html#media" class="nav3-title">Film und Fernsehen</a>
                </div>
            </div>

        </div>
    </div>
</nav>


