<div id="share-links">
    <a href="https://www.facebook.com/share.php?u=" class="share-link" target="_blank" title="Auf Facebook teilen"><span class="fa fa-facebook-square"></span></a>
    <a href="https://plus.google.com/share?url=" class="share-link" target="_blank" title="Auf Google+ teilen"><span class="fa fa-google-plus-square"></span></a>
    <a href="https://www.twitter.com/share?url=" class="share-link" target="_blank" title="Auf Twitter teilen"><span class="fa fa-twitter-square"></span></a>
</div>