body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.Einf--Abs- {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Helvetica LT Std Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.273;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.header-1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Helvetica LT Std", sans-serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.609;
	margin-bottom:43px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
li.header-2 {
	-epub-ruby-position:over;
	color:#03662e;
	font-family:"Helvetica LT Std", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1;
	margin-bottom:9px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
li.image-caption {
	-epub-ruby-position:over;
	color:#808285;
	font-family:"Helvetica LT Std Cond Light", sans-serif;
	font-size:9px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:0.889;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	text-align:center;
	text-decoration:none;
	text-indent:0px;
}
p.table-word-heading {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Helvetica LT Std", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.079;
	margin-bottom:8px;
	margin-left:0px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.timeline-image-caption {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Helvetica LT Std Light", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.182;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:right;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	break-after:column;
}
span.char-style-override-1 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
img.frame-1 {
	height:9px;
	width:462px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:9px;
	width:390px;
}
img.frame-4 {
	height:9px;
	width:389px;
}
img.frame-5 {
	height:9px;
	width:386px;
}
img.frame-6 {
	height:9px;
	width:382px;
}
img.frame-7 {
	height:9px;
	width:388px;
}
img.frame-8 {
	height:9px;
	width:380px;
}
img.frame-9 {
	height:9px;
	width:383px;
}
img.frame-10 {
	height:9px;
	width:385px;
}
img.frame-11 {
	height:9px;
	width:24px;
}
img.frame-12 {
	height:9px;
	width:6px;
}
img.frame-13 {
	height:9px;
	width:27px;
}
img.frame-14 {
	height:9px;
	width:1px;
}
img.frame-15 {
	height:9px;
	width:7px;
}
img.frame-16 {
	height:9px;
	width:19px;
}
img.frame-17 {
	height:9px;
	width:4px;
}
img.frame-18 {
	height:9px;
	width:17px;
}
img.frame-19 {
	height:9px;
	width:11px;
}
img.frame-20 {
	height:9px;
	width:8px;
}
img.frame-21 {
	height:9px;
	width:5px;
}
img.frame-22 {
	height:9px;
	width:28px;
}
img.frame-23 {
	height:9px;
	width:2px;
}
img.frame-24 {
	height:9px;
	width:12px;
}
img.frame-25 {
	height:9px;
	width:0px;
}
img.frame-26 {
	height:9px;
	width:3px;
}
img.frame-27 {
	height:9px;
	width:9px;
}
img.frame-28 {
	height:9px;
	width:10px;
}
img.frame-29 {
	height:9px;
	width:13px;
}
img.frame-30 {
	height:9px;
	width:14px;
}
img.frame-31 {
	height:9px;
	width:23px;
}
img.frame-32 {
	height:9px;
	width:18px;
}
img.frame-33 {
	height:9px;
	width:22px;
}
img.frame-34 {
	height:9px;
	width:31px;
}
img.frame-35 {
	height:9px;
	width:35px;
}
img.frame-36 {
	height:9px;
	width:21px;
}
img.frame-37 {
	height:9px;
	width:20px;
}
img.frame-38 {
	height:9px;
	width:15px;
}
img.frame-39 {
	height:9px;
	width:372px;
}
img.frame-40 {
	height:9px;
	width:374px;
}
img.frame-41 {
	height:9px;
	width:366px;
}
img.frame-42 {
	height:9px;
	width:408px;
}
img.frame-43 {
	height:9px;
	width:348px;
}
img.frame-44 {
	height:9px;
	width:384px;
}
img.frame-45 {
	height:9px;
	width:432px;
}
img.frame-46 {
	height:9px;
	width:447px;
}
img.frame-47 {
	height:9px;
	width:16px;
}
img.frame-48 {
	height:9px;
	width:25px;
}
img.frame-49 {
	height:9px;
	width:30px;
}
img.frame-50 {
	height:9px;
	width:29px;
}
img.frame-51 {
	height:9px;
	width:38px;
}
img.frame-52 {
	height:9px;
	width:34px;
}
img.frame-53 {
	height:9px;
	width:75px;
}
img.frame-54 {
	height:9px;
	width:26px;
}
img.frame-55 {
	height:82px;
	width:125px;
}
img.frame-56 {
	height:7px;
	width:7px;
}
