body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
li.header-1 {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Helvetica LT Std", sans-serif;
	font-size:23px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.609;
	margin-bottom:43px;
	margin-left:28px;
	margin-right:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.text {
	-epub-ruby-position:over;
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273;
	margin-bottom:6px;
	margin-left:0px;
	margin-right:0px;
	text-align:justify;
	text-decoration:none;
	text-indent:0px;
}
span.work-italic {
	font-style:italic;
	font-weight:normal;
}
span.char-style-override-1 {
	display:inline-block;
	text-indent:0;
	white-space:pre-wrap;
}
img.frame-1 {
	height:226px;
	width:595px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
