RewriteEngine On

// Redirect start page
RedirectMatch 301 /index.html$ /index-changed.html

//301 Redirect Old File
Redirect 301 /index.html /index-changed.html

//Custom 404 errors
ErrorDocument 404 /404.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all

AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /.htpasswd
Require valid-user