RewriteEngine On

// Redirect start page
RedirectMatch 301 /index.html$ /de/about-the-show/introduction.html$1

//301 Redirect Old File
Redirect 301 /index.html /de/index.html

//Custom 404 errors
ErrorDocument 404 /de/404.html

//Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all